{
  "presets": ["next/babel", "@emotion/babel-preset-css-prop"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "features": "./features",
          "utils": "./src/utils/",
          "components": "./src/components",
          "data": "./src/data",
          "queries": "./src/queries"
        }
      }
    ],
    ["@emotion/babel-plugin"]
  ]
}
